

.brand{
    font-family: 'Titan One', cursive;
}

.container-fluid{
    padding:0 5%;
}

.row-margin{
    margin-left: 0;
    margin-right: 0;
}

#contact-heading{
    font-family: 'Patua One', cursive;
    font-size: 3rem;
    color:orange;
}

.contact-me{
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 100px;
}


#portfolio-heading{
    text-align:center;
    font-family: 'Patua One', cursive;
    font-size: 3rem;
    padding-top: 20px;
    color: orange;
}

/*spacing and font type for portfolio heading*/
.sub-heading{
    font-family: 'DM Serif Display', serif;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 20px;
}

.sub-heading-two{
    font-family: 'DM Serif Display', serif;

}

p{
    color:darkslategrey;
}

.info-image{
    width:100px;
    height:100px;
}

.page-photo{
width: 100%;
}

#cover-container{
    margin-bottom: 20px;
}

/*maximum of the section images*/
.section-container-image {
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.section-container {
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Fredoka One', cursive;
    background-color: #faf3dd;
}

.main-photos{
    width:100%;
    height:300px;
}

#icon-one{
    width: 100px;
    height: 100px;
    display: block;
    margin-left: 200px;
    }

#icon-two{
    width: 100px;
    height: 100px;
    display: block;
    margin-left: 200px;
    margin-top: 75px;
}

#icon-three{
    width: 100px;
    height: 100px;
    display: block;
    margin-left: 200px;
    margin-top: 75px;
}

#icon-four{
    width: 100px;
    height: 100px;
    display: block;
    margin-left: 200px;
    margin-top: 75px;
    margin-bottom: 20px;
}

#icon-five{
    width: 100px;
    height: 100px;
    display: block;
    margin-left: 200px;
    margin-top: 75px;
    
}

.align-icons{
    text-align:center;
}

.thumbnail{
    text-align: center;
}

.thumbnail-p{
    text-align: center;
    padding-top: 20px;
}


.thumb-heading{
 margin-top: 50px;
 font-family: 'Patua One', cursive;   
}

.thumb-p{
    font-family: 'Fredoka One', cursive;  
}

.thumb-container{
    background-color: #faf3dd;
    padding: 20px 50px 50px 50px;
}

.bottom-icon{
    height:60px;
    width:60px;
    
}

.bottom-container{
    margin-top: 40px;
}
 


footer{
    margin-top:20px; 
    text-align: center;
    padding:20px;
    background-color:#faf3dd;
}

.footer-heading{
    text-align: center;
}

.back-color{
    background-color:#faf3dd;  
}

/*Adding some spacing to the rows*/
.row{
    padding: 0 12px
}